
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li><a href="~/Products/Details?parameter=Laptop" class="btn btn-success">Laptop</a></li>
    <li><a href="~/Products/Details?parameter=Tablet" class="btn btn-success">Tablet</a></li>
    <li><a href="~/Products/Details?parameter=Desktop" class="btn btn-success">Desktop</a></li>
</ul>
